nodered/flows.json
[
  {
    "id": "tabRobot",
    "type": "tab",
    "label": "Robot",
    "disabled": false,
    "info": "MQTT control flow for the diff-drive robot.\n\nPublishes JSON velocity commands to `robot/cmd_vel` and subscribes to `robot/status`, `robot/odom`, `robot/alarm`."
  },
  {
    "id": "uiTab",
    "type": "ui_tab",
    "name": "Robot Control",
    "icon": "dashboard",
    "order": 1,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "uiGroupDrive",
    "type": "ui_group",
    "name": "Drive",
    "tab": "uiTab",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "uiGroupSpeed",
    "type": "ui_group",
    "name": "Speed",
    "tab": "uiTab",
    "order": 2,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "uiGroupStatus",
    "type": "ui_group",
    "name": "Telemetry",
    "tab": "uiTab",
    "order": 3,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "brokerMosquitto",
    "type": "mqtt-broker",
    "name": "mosquitto",
    "broker": "mosquitto",
    "port": "1883",
    "clientid": "nodered_dashboard",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "30",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "sliderSpeed",
    "type": "ui_slider",
    "z": "tabRobot",
    "name": "speed",
    "label": "Speed (m/s and rad/s)",
    "tooltip": "Applied as magnitude to direction buttons",
    "group": "uiGroupSpeed",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": true,
    "outs": "end",
    "topic": "speed",
    "topicType": "str",
    "min": "0",
    "max": "2",
    "step": "0.1",
    "className": "",
    "x": 130,
    "y": 100,
    "wires": [["setSpeed"]]
  },
  {
    "id": "setSpeed",
    "type": "change",
    "z": "tabRobot",
    "name": "flow.speed = payload",
    "rules": [
      {
        "t": "set",
        "p": "speed",
        "pt": "flow",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 360,
    "y": 100,
    "wires": [[]]
  },
  {
    "id": "btnForward",
    "type": "ui_button",
    "z": "tabRobot",
    "name": "forward",
    "group": "uiGroupDrive",
    "order": 1,
    "width": 2,
    "height": 1,
    "passthru": false,
    "label": "▲",
    "tooltip": "Forward",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "forward",
    "payloadType": "str",
    "topic": "dir",
    "topicType": "str",
    "x": 130,
    "y": 200,
    "wires": [["fnCmd"]]
  },
  {
    "id": "btnLeft",
    "type": "ui_button",
    "z": "tabRobot",
    "name": "left",
    "group": "uiGroupDrive",
    "order": 2,
    "width": 2,
    "height": 1,
    "passthru": false,
    "label": "◀",
    "tooltip": "Turn left",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "left",
    "payloadType": "str",
    "topic": "dir",
    "topicType": "str",
    "x": 130,
    "y": 260,
    "wires": [["fnCmd"]]
  },
  {
    "id": "btnStop",
    "type": "ui_button",
    "z": "tabRobot",
    "name": "stop",
    "group": "uiGroupDrive",
    "order": 3,
    "width": 2,
    "height": 1,
    "passthru": false,
    "label": "■ STOP",
    "tooltip": "Halt",
    "color": "#ffffff",
    "bgcolor": "#c62828",
    "className": "",
    "icon": "",
    "payload": "stop",
    "payloadType": "str",
    "topic": "dir",
    "topicType": "str",
    "x": 130,
    "y": 320,
    "wires": [["fnCmd"]]
  },
  {
    "id": "btnRight",
    "type": "ui_button",
    "z": "tabRobot",
    "name": "right",
    "group": "uiGroupDrive",
    "order": 4,
    "width": 2,
    "height": 1,
    "passthru": false,
    "label": "▶",
    "tooltip": "Turn right",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "right",
    "payloadType": "str",
    "topic": "dir",
    "topicType": "str",
    "x": 130,
    "y": 380,
    "wires": [["fnCmd"]]
  },
  {
    "id": "btnBackward",
    "type": "ui_button",
    "z": "tabRobot",
    "name": "backward",
    "group": "uiGroupDrive",
    "order": 5,
    "width": 2,
    "height": 1,
    "passthru": false,
    "label": "▼",
    "tooltip": "Backward",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "backward",
    "payloadType": "str",
    "topic": "dir",
    "topicType": "str",
    "x": 130,
    "y": 440,
    "wires": [["fnCmd"]]
  },
  {
    "id": "fnCmd",
    "type": "function",
    "z": "tabRobot",
    "name": "direction → cmd_vel JSON",
    "func": "const speed = Number(flow.get('speed'));\nconst v = Number.isFinite(speed) ? speed : 1.0;\nconst map = {\n    forward:  { linear_x:  v, angular_z: 0 },\n    backward: { linear_x: -v, angular_z: 0 },\n    left:     { linear_x:  0, angular_z:  v },\n    right:    { linear_x:  0, angular_z: -v },\n    stop:     { linear_x:  0, angular_z: 0 }\n};\nconst dir = String(msg.payload);\nconst cmd = map[dir];\nif (!cmd) {\n    node.warn('unknown direction: ' + dir);\n    return null;\n}\nreturn { topic: 'robot/cmd_vel', payload: cmd };\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "flow.set('speed', 1.0);",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 320,
    "wires": [["mqttOutCmd"]]
  },
  {
    "id": "mqttOutCmd",
    "type": "mqtt out",
    "z": "tabRobot",
    "name": "publish robot/cmd_vel",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "brokerMosquitto",
    "x": 700,
    "y": 320,
    "wires": []
  },
  {
    "id": "mqttInStatus",
    "type": "mqtt in",
    "z": "tabRobot",
    "name": "robot/status",
    "topic": "robot/status",
    "qos": "1",
    "datatype": "json",
    "broker": "brokerMosquitto",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 130,
    "y": 540,
    "wires": [["fnStatus"]]
  },
  {
    "id": "fnStatus",
    "type": "function",
    "z": "tabRobot",
    "name": "format status",
    "func": "const s = (msg.payload && msg.payload.state) || 'unknown';\nmsg.payload = s;\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 540,
    "wires": [["txtStatus"]]
  },
  {
    "id": "txtStatus",
    "type": "ui_text",
    "z": "tabRobot",
    "group": "uiGroupStatus",
    "order": 1,
    "width": 0,
    "height": 0,
    "name": "bridge status",
    "label": "Bridge",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 600,
    "y": 540,
    "wires": []
  },
  {
    "id": "mqttInOdom",
    "type": "mqtt in",
    "z": "tabRobot",
    "name": "robot/odom",
    "topic": "robot/odom",
    "qos": "0",
    "datatype": "json",
    "broker": "brokerMosquitto",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 130,
    "y": 600,
    "wires": [["fnOdom"]]
  },
  {
    "id": "fnOdom",
    "type": "function",
    "z": "tabRobot",
    "name": "format odom",
    "func": "const p = msg.payload || {};\nconst fmt = (v) => (typeof v === 'number') ? v.toFixed(2) : '-';\nmsg.payload = `x=${fmt(p.x)} y=${fmt(p.y)} v=${fmt(p.linear_x)} w=${fmt(p.angular_z)}`;\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 600,
    "wires": [["txtOdom"]]
  },
  {
    "id": "txtOdom",
    "type": "ui_text",
    "z": "tabRobot",
    "group": "uiGroupStatus",
    "order": 2,
    "width": 0,
    "height": 0,
    "name": "odom",
    "label": "Odom",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 600,
    "y": 600,
    "wires": []
  },
  {
    "id": "mqttInAlarm",
    "type": "mqtt in",
    "z": "tabRobot",
    "name": "robot/alarm",
    "topic": "robot/alarm",
    "qos": "1",
    "datatype": "json",
    "broker": "brokerMosquitto",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 130,
    "y": 660,
    "wires": [["fnAlarm"]]
  },
  {
    "id": "fnAlarm",
    "type": "function",
    "z": "tabRobot",
    "name": "format alarm",
    "func": "const p = msg.payload || {};\nmsg.payload = `${p.code || 'ALARM'}: ${p.detail || ''}`;\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 660,
    "wires": [["txtAlarm"]]
  },
  {
    "id": "txtAlarm",
    "type": "ui_text",
    "z": "tabRobot",
    "group": "uiGroupStatus",
    "order": 3,
    "width": 0,
    "height": 0,
    "name": "alarm",
    "label": "Alarm",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 600,
    "y": 660,
    "wires": []
  }
]
