nodered/flows.json
[
  {
    "id": "tabRobot",
    "type": "tab",
    "label": "Robot",
    "disabled": false,
    "info": "MQTT 制御フロー。`robot/cmd_vel` に JSON 速度指令を発行し、`robot/status` / `robot/odom` / `robot/alarm` を購読します。"
  },
  {
    "id": "uiBase",
    "type": "ui_base",
    "theme": {
      "name": "theme-dark",
      "lightTheme": {
        "default": "#0094CE",
        "baseColor": "#0094CE",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited": false,
        "reset": false
      },
      "darkTheme": {
        "default": "#097479",
        "baseColor": "#42A5F5",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited": true,
        "reset": false
      },
      "customTheme": {
        "name": "Untitled Theme 1",
        "default": "#4B7930",
        "baseColor": "#4B7930",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
      },
      "themeState": {
        "base-color": { "default": "#42A5F5", "value": "#42A5F5", "edited": true },
        "page-titlebar-backgroundColor": { "value": "#42A5F5", "edited": false },
        "page-backgroundColor": { "value": "#0e1117", "edited": true },
        "page-sidebar-backgroundColor": { "value": "#161a22", "edited": true },
        "group-textColor": { "value": "#E3F2FD", "edited": true },
        "group-borderColor": { "value": "#1f2630", "edited": true },
        "group-backgroundColor": { "value": "#161a22", "edited": true },
        "widget-textColor": { "value": "#E3F2FD", "edited": true },
        "widget-backgroundColor": { "value": "#42A5F5", "edited": false },
        "widget-borderColor": { "value": "#1f2630", "edited": true },
        "base-font": { "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif" }
      },
      "angularTheme": {
        "primary": "indigo",
        "accents": "blue",
        "warn": "red",
        "background": "grey",
        "palette": "dark"
      }
    },
    "site": {
      "name": "Robot Control",
      "hideToolbar": "false",
      "allowSwipe": "false",
      "lockMenu": "false",
      "allowTempTheme": "true",
      "dateFormat": "YYYY-MM-DD",
      "sizes": {
        "sx": 48,
        "sy": 48,
        "gx": 6,
        "gy": 6,
        "cx": 6,
        "cy": 6,
        "px": 0,
        "py": 0
      }
    }
  },
  {
    "id": "uiTab",
    "type": "ui_tab",
    "name": "Robot Control",
    "icon": "mi-gamepad",
    "order": 1,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "uiGroupDrive",
    "type": "ui_group",
    "name": "DRIVE",
    "tab": "uiTab",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false,
    "className": "drive-group"
  },
  {
    "id": "uiGroupSpeed",
    "type": "ui_group",
    "name": "SPEED",
    "tab": "uiTab",
    "order": 2,
    "disp": true,
    "width": "6",
    "collapse": false,
    "className": "speed-group"
  },
  {
    "id": "uiGroupStatus",
    "type": "ui_group",
    "name": "TELEMETRY",
    "tab": "uiTab",
    "order": 3,
    "disp": true,
    "width": "6",
    "collapse": false,
    "className": "status-group"
  },
  {
    "id": "cssInject",
    "type": "ui_template",
    "z": "tabRobot",
    "group": "uiGroupDrive",
    "name": "global CSS",
    "order": 0,
    "width": 0,
    "height": 0,
    "format": "<style>\n  body.nr-dashboard-theme md-toolbar.md-default-theme,\n  body.nr-dashboard-theme md-toolbar {\n    background: linear-gradient(90deg, #1565C0 0%, #00838F 100%) !important;\n  }\n  .nr-dashboard-cardpanel {\n    border-radius: 12px !important;\n    box-shadow: 0 8px 24px rgba(0,0,0,0.35) !important;\n    border: 1px solid rgba(255,255,255,0.04) !important;\n    background: linear-gradient(160deg, #1a1f2b 0%, #0e1117 100%) !important;\n  }\n  .nr-dashboard-cardpanel md-card-title {\n    background: rgba(66,165,245,0.08);\n    border-bottom: 1px solid rgba(66,165,245,0.15);\n    border-radius: 12px 12px 0 0;\n  }\n  .nr-dashboard-cardpanel md-card-title .md-title {\n    letter-spacing: 2px;\n    font-weight: 700;\n    color: #90CAF9 !important;\n  }\n  .nr-dashboard-button button.md-button {\n    border-radius: 14px !important;\n    font-weight: 700;\n    letter-spacing: 1px;\n    text-transform: uppercase;\n    box-shadow: 0 4px 14px rgba(0,0,0,0.4), inset 0 1px 0 rgba(255,255,255,0.08);\n    transition: transform 80ms ease-out, box-shadow 80ms ease-out, filter 80ms ease-out;\n  }\n  .nr-dashboard-button button.md-button:hover {\n    filter: brightness(1.1);\n    box-shadow: 0 6px 18px rgba(0,0,0,0.5), inset 0 1px 0 rgba(255,255,255,0.1);\n  }\n  .nr-dashboard-button button.md-button:active {\n    transform: translateY(2px);\n    box-shadow: 0 2px 6px rgba(0,0,0,0.4);\n  }\n  .nr-dashboard-button .md-button .ng-binding,\n  .nr-dashboard-button .md-button i {\n    font-size: 1.3em;\n  }\n  .nr-dashboard-button .md-button i {\n    margin-right: 6px;\n  }\n  .status-pill {\n    display: flex;\n    align-items: center;\n    justify-content: center;\n    gap: 10px;\n    padding: 14px 18px;\n    border-radius: 12px;\n    font-weight: 700;\n    letter-spacing: 2px;\n    text-transform: uppercase;\n    box-shadow: 0 4px 14px rgba(0,0,0,0.4);\n  }\n  .status-pill .dot {\n    width: 12px;\n    height: 12px;\n    border-radius: 50%;\n    box-shadow: 0 0 0 0 currentColor;\n    animation: pulse 1.8s infinite;\n  }\n  .status-pill.online { background: linear-gradient(135deg, #1B5E20, #2E7D32); color: #B9F6CA; }\n  .status-pill.offline { background: linear-gradient(135deg, #B71C1C, #C62828); color: #FFCDD2; }\n  @keyframes pulse {\n    0%   { box-shadow: 0 0 0 0 rgba(255,255,255,0.4); }\n    70%  { box-shadow: 0 0 0 10px rgba(255,255,255,0); }\n    100% { box-shadow: 0 0 0 0 rgba(255,255,255,0); }\n  }\n  .telemetry-row {\n    display: grid;\n    grid-template-columns: 70px 1fr;\n    align-items: center;\n    padding: 10px 12px;\n    border-radius: 10px;\n    background: rgba(255,255,255,0.03);\n    margin-top: 8px;\n    font-family: 'SF Mono', 'JetBrains Mono', Menlo, Consolas, monospace;\n  }\n  .telemetry-row .label {\n    color: #90CAF9;\n    font-weight: 700;\n    letter-spacing: 1px;\n    font-size: 0.85em;\n  }\n  .telemetry-row .value { color: #E3F2FD; font-size: 0.95em; }\n  .alarm-card {\n    margin-top: 10px;\n    padding: 12px 14px;\n    border-left: 4px solid #FFB300;\n    background: rgba(255,179,0,0.08);\n    border-radius: 8px;\n    color: #FFE082;\n    font-weight: 600;\n  }\n  .alarm-card.clear {\n    border-left-color: #2E7D32;\n    background: rgba(46,125,50,0.08);\n    color: #B9F6CA;\n  }\n</style>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "global",
    "className": "",
    "x": 130,
    "y": 60,
    "wires": [[]]
  },
  {
    "id": "brokerMosquitto",
    "type": "mqtt-broker",
    "name": "mosquitto",
    "broker": "mosquitto",
    "port": "1883",
    "clientid": "nodered_dashboard",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "30",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "btnForward",
    "type": "ui_button",
    "z": "tabRobot",
    "name": "forward",
    "group": "uiGroupDrive",
    "order": 1,
    "width": 6,
    "height": 1,
    "passthru": false,
    "label": "FORWARD",
    "tooltip": "前進",
    "color": "#ffffff",
    "bgcolor": "#1E88E5",
    "className": "btn-forward",
    "icon": "mi-arrow_upward",
    "payload": "forward",
    "payloadType": "str",
    "topic": "dir",
    "topicType": "str",
    "x": 130,
    "y": 180,
    "wires": [["fnCmd"]]
  },
  {
    "id": "btnLeft",
    "type": "ui_button",
    "z": "tabRobot",
    "name": "left",
    "group": "uiGroupDrive",
    "order": 2,
    "width": 2,
    "height": 2,
    "passthru": false,
    "label": "LEFT",
    "tooltip": "左旋回",
    "color": "#ffffff",
    "bgcolor": "#00ACC1",
    "className": "btn-left",
    "icon": "mi-arrow_back",
    "payload": "left",
    "payloadType": "str",
    "topic": "dir",
    "topicType": "str",
    "x": 130,
    "y": 240,
    "wires": [["fnCmd"]]
  },
  {
    "id": "btnStop",
    "type": "ui_button",
    "z": "tabRobot",
    "name": "stop",
    "group": "uiGroupDrive",
    "order": 3,
    "width": 2,
    "height": 2,
    "passthru": false,
    "label": "STOP",
    "tooltip": "停止",
    "color": "#ffffff",
    "bgcolor": "#E53935",
    "className": "btn-stop",
    "icon": "mi-stop",
    "payload": "stop",
    "payloadType": "str",
    "topic": "dir",
    "topicType": "str",
    "x": 130,
    "y": 300,
    "wires": [["fnCmd"]]
  },
  {
    "id": "btnRight",
    "type": "ui_button",
    "z": "tabRobot",
    "name": "right",
    "group": "uiGroupDrive",
    "order": 4,
    "width": 2,
    "height": 2,
    "passthru": false,
    "label": "RIGHT",
    "tooltip": "右旋回",
    "color": "#ffffff",
    "bgcolor": "#00ACC1",
    "className": "btn-right",
    "icon": "mi-arrow_forward",
    "payload": "right",
    "payloadType": "str",
    "topic": "dir",
    "topicType": "str",
    "x": 130,
    "y": 360,
    "wires": [["fnCmd"]]
  },
  {
    "id": "btnBackward",
    "type": "ui_button",
    "z": "tabRobot",
    "name": "backward",
    "group": "uiGroupDrive",
    "order": 5,
    "width": 6,
    "height": 1,
    "passthru": false,
    "label": "BACKWARD",
    "tooltip": "後退",
    "color": "#ffffff",
    "bgcolor": "#1E88E5",
    "className": "btn-backward",
    "icon": "mi-arrow_downward",
    "payload": "backward",
    "payloadType": "str",
    "topic": "dir",
    "topicType": "str",
    "x": 130,
    "y": 420,
    "wires": [["fnCmd"]]
  },
  {
    "id": "fnCmd",
    "type": "function",
    "z": "tabRobot",
    "name": "direction → cmd_vel JSON",
    "func": "const speed = Number(flow.get('speed'));\nconst v = Number.isFinite(speed) ? speed : 1.0;\nconst map = {\n    forward:  { linear_x:  v, angular_z: 0 },\n    backward: { linear_x: -v, angular_z: 0 },\n    left:     { linear_x:  0, angular_z:  v },\n    right:    { linear_x:  0, angular_z: -v },\n    stop:     { linear_x:  0, angular_z: 0 }\n};\nconst dir = String(msg.payload);\nconst cmd = map[dir];\nif (!cmd) {\n    node.warn('unknown direction: ' + dir);\n    return null;\n}\nreturn { topic: 'robot/cmd_vel', payload: cmd };\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "flow.set('speed', 1.0);",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 320,
    "wires": [["mqttOutCmd"]]
  },
  {
    "id": "mqttOutCmd",
    "type": "mqtt out",
    "z": "tabRobot",
    "name": "publish robot/cmd_vel",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "brokerMosquitto",
    "x": 700,
    "y": 320,
    "wires": []
  },
  {
    "id": "sliderSpeed",
    "type": "ui_slider",
    "z": "tabRobot",
    "name": "speed",
    "label": "magnitude (m/s · rad/s)",
    "tooltip": "ボタン押下時にこの値が方向ベクトルの大きさになります",
    "group": "uiGroupSpeed",
    "order": 1,
    "width": 6,
    "height": 1,
    "passthru": true,
    "outs": "end",
    "topic": "speed",
    "topicType": "str",
    "min": "0",
    "max": "2",
    "step": "0.1",
    "className": "speed-slider",
    "x": 130,
    "y": 500,
    "wires": [["setSpeed", "gaugeSpeed"]]
  },
  {
    "id": "setSpeed",
    "type": "change",
    "z": "tabRobot",
    "name": "flow.speed ← payload",
    "rules": [
      {
        "t": "set",
        "p": "speed",
        "pt": "flow",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 380,
    "y": 500,
    "wires": [[]]
  },
  {
    "id": "gaugeSpeed",
    "type": "ui_gauge",
    "z": "tabRobot",
    "name": "speed gauge",
    "group": "uiGroupSpeed",
    "order": 2,
    "width": 6,
    "height": 3,
    "gtype": "wave",
    "title": "MAGNITUDE",
    "label": "m/s · rad/s",
    "format": "{{value | number:2}}",
    "min": 0,
    "max": "2",
    "colors": ["#00bfa5", "#fdd835", "#e53935"],
    "seg1": "0.8",
    "seg2": "1.5",
    "diff": false,
    "className": "",
    "x": 380,
    "y": 560,
    "wires": []
  },
  {
    "id": "mqttInStatus",
    "type": "mqtt in",
    "z": "tabRobot",
    "name": "robot/status",
    "topic": "robot/status",
    "qos": "1",
    "datatype": "json",
    "broker": "brokerMosquitto",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 130,
    "y": 660,
    "wires": [["tplStatus"]]
  },
  {
    "id": "tplStatus",
    "type": "ui_template",
    "z": "tabRobot",
    "group": "uiGroupStatus",
    "name": "status pill",
    "order": 1,
    "width": 6,
    "height": 1,
    "format": "<div class=\"status-pill\" ng-class=\"msg.payload.state === 'online' ? 'online' : 'offline'\">\n  <span class=\"dot\"></span>\n  <span>BRIDGE</span>\n  <span ng-bind=\"(msg.payload.state || 'unknown') | uppercase\"></span>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 380,
    "y": 660,
    "wires": [[]]
  },
  {
    "id": "mqttInOdom",
    "type": "mqtt in",
    "z": "tabRobot",
    "name": "robot/odom",
    "topic": "robot/odom",
    "qos": "0",
    "datatype": "json",
    "broker": "brokerMosquitto",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 130,
    "y": 720,
    "wires": [["tplOdom"]]
  },
  {
    "id": "tplOdom",
    "type": "ui_template",
    "z": "tabRobot",
    "group": "uiGroupStatus",
    "name": "odom card",
    "order": 2,
    "width": 6,
    "height": 3,
    "format": "<div>\n  <div class=\"telemetry-row\"><span class=\"label\">POSE X</span><span class=\"value\" ng-bind=\"(msg.payload.x | number:2) + ' m'\"></span></div>\n  <div class=\"telemetry-row\"><span class=\"label\">POSE Y</span><span class=\"value\" ng-bind=\"(msg.payload.y | number:2) + ' m'\"></span></div>\n  <div class=\"telemetry-row\"><span class=\"label\">LIN.X</span><span class=\"value\" ng-bind=\"(msg.payload.linear_x | number:2) + ' m/s'\"></span></div>\n  <div class=\"telemetry-row\"><span class=\"label\">ANG.Z</span><span class=\"value\" ng-bind=\"(msg.payload.angular_z | number:2) + ' rad/s'\"></span></div>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 380,
    "y": 720,
    "wires": [[]]
  },
  {
    "id": "mqttInAlarm",
    "type": "mqtt in",
    "z": "tabRobot",
    "name": "robot/alarm",
    "topic": "robot/alarm",
    "qos": "1",
    "datatype": "json",
    "broker": "brokerMosquitto",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 130,
    "y": 800,
    "wires": [["tplAlarm"]]
  },
  {
    "id": "tplAlarm",
    "type": "ui_template",
    "z": "tabRobot",
    "group": "uiGroupStatus",
    "name": "alarm card",
    "order": 3,
    "width": 6,
    "height": 2,
    "format": "<div class=\"alarm-card\" ng-class=\"msg.payload.code === 'WATCHDOG_CLEAR' ? 'clear' : ''\">\n  <div style=\"font-size:0.8em;letter-spacing:2px;opacity:0.7;\">LATEST ALARM</div>\n  <div style=\"font-size:1.05em;margin-top:4px;\" ng-bind=\"msg.payload.code || '—'\"></div>\n  <div style=\"font-size:0.85em;margin-top:2px;opacity:0.85;\" ng-bind=\"msg.payload.detail || ''\"></div>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 380,
    "y": 800,
    "wires": [[]]
  }
]
